<div class="row">
  <!-- Senators -->
  <div class="col p-2 border border-2 me-2">
    <h2>Senators</h2>
    <p>Below you will see all of the senators for <%=zipcode%></p>
    <div class="container text-center">
      <div class="row">
        <%let counter = 0;%> <% if(senators){%> <%
        senators.forEach((senator)=>{%> <%- include("profile", {person: senator,
        type:"s", user: user, counter:counter, zipcode:zipcode}) %>
        <%counter++;}) %> <%} %>
      </div>
    </div>
  </div>
  <!-- Representatives -->
  <div class="col p-2 border border-2 ms-1">
    <h2>Representatives</h2>
    <p>Below you will see all of the representatives for <%=zipcode%></p>
    <div class="container text-center">
      <div class="row">
        <% if (reps){%> <% reps.forEach((rep)=>{%> <%- include("profile",
        {person: rep, type: "r", user: user, counter:counter}) %> <%counter++;})
        %> <%} %>
      </div>
    </div>
  </div>
</div>
