<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/img/profile.svg"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <h1 class="text-bg-dark">Find Your Representative</h1>
    <%- include("search_bar") %>
  </div>
</nav>
