<%- include("partials/header", {title: "Search Results"}) %>
<div>
  <h1>Error Getting Data</h1>
  <p><%=message%></p>
  <%- include("partials/search_bar_text") %>
</div>
<%- include("partials/footer") %>
